<!DOCTYPE html>
<html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<body class="m-5 text-center">
    <h1>Admin page</h1><br>
    <h5>Selamat anda berhasil login!</h5>
    <h5>Silakan akses menu berikut.</h5><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a role="button" class="btn btn-outline-dark" href="./admin/kategori">Kategori Berita</a>
        <a role="button" class="btn btn-outline-dark" href="./admin/hashtag">Hashtag Berita</a>
        <a role="button" class="btn btn-outline-dark" href="./admin/showBerita">Berita</a>
        <a role="button" class="btn btn-outline-dark" href="./admin/block-users">Block user</a>
        <a role="button" class="btn btn-outline-dark" href="./admin/komentar">Komentar</a>
    </div>
</body>

</html>