<!DOCTYPE html>
<html>
<%- include('layout/head') %> 
<body>
    <div class="container-all">
        <%- include('layout/header') %> 
        <main id="biodata mb-5" style="margin-bottom: 200px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3 class="mt-5 mb-4">Edit Password</h3>
                        <form action="/user/edit-password/<%= username %>" method="post" class="mt-2" id="edit-password">
                            <div class="mb-3">
                                <div class="row pw_lama">
                                    <div class="col-4">
                                        <label for="password_lama" class="form-label">Password Lama</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="password_lama" placeholder="Masukkan Password Lama" name="password_lama" required>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="password_lama" placeholder="Masukkan Password Lama" name="password_lama" required>
                                    </div>
                                </div> -->
                            </div>
                            <div class="mb-3">
                                <div class="row pw_baru">
                                    <div class="col-4">
                                        <label for="password_baru" class="form-label">Password Baru</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="password_baru" placeholder="Masukkan Password Baru" name="password_baru" required>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row pw_confirm">
                                    <div class="col-4">
                                        <label for="konfirmasi_password" class="form-label">Konfirmasi Password</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="konfirmasi_password" placeholder="Masukkan Konfirmasi Password" name="konfirmasi_password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </main>
    </div>
     <%- include('layout/footer') %> 
    <script src="/static/js/edit_profile_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>