<!DOCTYPE html>
<html lang="en">
<%- include('layout/headsitemap') %>

<body>
  <!-- header 1 -->
   <div class=" container-all ">
    <%- include('layout/header') %>

  <!-- title 1 -->
  <div class="container-fluid hashtag">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-start mt-4"><font color='grey'></color>Kategori<font color='black'></color> / <%= nama_tag %></h1>
            </div>
        </div>
    </div>
  </div>

  <!-- banner -->
  <div class="container-fluid hashtag">
      <div class="container">
        <img class="banner_hashtag" src="http://localhost:3000/static/image/bitcoin.jpg">
      </div>
  </div>

  <!-- hashtag -->
  <div class="container-fluid hashtag">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-start mt-3">#Hashtag</h1>
            </div>
        </div>
    </div>
  </div>


  <div class="container-fluid hashtag">
    <div class="container">
      <div class="col-expand">
        <% listHashtag.forEach(tag=>{ %>
        <a class=" bg-primary text-light px-1" style="text-decoration: none;" href="/hashtag/<%= tag.nama_tag %>">#<%= tag.nama_tag %></a>
        <% }) %> 
      </div>
    </div>
  </div>

  <!-- title 2 -->
  <div class="container-fluid hashtag">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-start mt-5 pt-2"><font color='grey'></color>Kategori<font color='black'></color> #<%= nama_tag %></h1>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid hashtag">
    <div class="container">
      <div style="background-color:#000000; height: 3px; width:100%;"></div>
    </div>
  </div>

  <!-- berita -->
  <div class="container-fluid hashtag">
    <div class="container">
     <% data.data.forEach(berita=>{ %> 
      <div class="flex-container-row" style="margin-top: 0.8%; margin-bottom: 2%;">
        <div class="flex-item-row-right" style="width: 20%;">
            <img style="width: 85%; margin-right: 10%; height: 100%; object-fit: cover;" src="http://localhost:3000/static/image/<%= berita.thumbnail %> " alt="">
        </div>
    
        <div class="flex-item-row-left" style="width: 70%;">
            <div class="flex-item">
              <h3><%= berita.judul %></h3>
            </div>
            <div class="flex-item">
              <p class="tanggal_berita"><%= berita.createdAt %>  | Anisa Giovanny<br></p>
            </div>
            <div class="flex-item" style="font-size: 19.2px; line-height: 29px;">
              <a><%- berita.isiberita.substring(0,100) %> </a> 
              <a class="black" style="color: rgb(0, 132, 255);" href= "/user/berita/<%= berita.slug %>">Baca artikel lengkapnya...</a>
            </div>
            <br>                         
        </div> 
      </div>  
     <% }) %> 
    </div>
  </div>

  <!-- pagination -->
  <div class="d-flex justify-content-center align-items-center my-5">
    <% if (data.prev.page != null) { %>
      <a href="./hashtag?page=<%= data.prev.page %>" class="me-2 fw-bold">Prev</a>
      <% } else { %>
        <a class="me-2 text-muted fw-bold">Prev</a>
       
    <% } %>
  
      <% for( let index = 1; index <= data.pageLength; index++ ) { %>
        <% if (data.current == index) { %>
          <a href="./hashtag?page=<%= index %>" class="btn btn-lg btn-primary mx-1"><%= index %></a>
        <% }else{ %>
          <a href="./hashtag?page=<%= index %>" class="btn btn-lg btn-outline-primary mx-1"><%= index %></a>
        <% } %>
      <% } %>
      <% if (data.next.page != null) { %>
        <a href="./hashtag?page=<%= data.next.page %>" class="ms-2 fw-bold">Next</a>
        <% } else { %>
          <a class="ms-2 text-muted fw-bold">Next</a>
         
      <% } %>
  </div>

  <!-- footer -->
  <%- include('layout/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>
