<!DOCTYPE html>
<html>
<%- include('layout/head') %>

<body>
  <!-- header 1 -->
  <div class=" container-all ">
    <%- include('layout/header') %>

    <main id="homepage" class="container">
        <!-- Gambar Slider -->
        <section id="slider-berita" class="my-4">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <% carousel.forEach((e, index) => { if (index == 0) {%>
                        <div class="carousel-item active position-relative">
                            <div style="position: absolute; width: 100%;height: 100%; background: linear-gradient(180.3deg, rgba(32, 32, 32, 0) 49.9%, rgba(48, 48, 48, 0.7) 99.74%);"></div>
                            <h1 class="position-absolute" style="left:30px; bottom:50px; color:white; z-index: 2;"><%= e.judul %></h1>
                            <img src="/static/image/<%= e.thumbnail %>" class="d-block w-100" alt="..." style="max-height: 479px; object-fit: cover;">
                        </div>

                        <%} else{ %>
                            <div class="carousel-item ">
                            <div style="position: absolute; width: 100%;height: 100%; background: linear-gradient(180.3deg, rgba(32, 32, 32, 0) 49.9%, rgba(48, 48, 48, 0.7) 99.74%);"></div>
                            <h1 class="position-absolute" style="left:30px; bottom:50px; color:white; z-index: 2;"><%= e.judul %></h1>
                            <img src="/static/image/<%= e.thumbnail %>" class="d-block w-100" alt="..." style="max-height: 479px; object-fit: cover;">
                        </div>
                        <% } }) %>
                </div>
            </div>
        </section>

        <!-- harga crypto -->
        <section id="harga-crypto" class="my-4">
            <h2 class="subjudul">Harga Crypto Hari Ini</h2>
            <div class="row row-cols-2 row-cols-lg-5 g-sm-1 g-md-2 g-lg-3">
                <div class="col mt-3">
                    <div class="card text-center mx-auto">
                        <div class="card-body">
                            <img src="../static/image/bitcoin1.png" class="card-img-top rounded-circle mx-auto mb-1">
                            <h4 class="mb-3">1. BTC</h4>
                            <p class="card-text text-danger mb-3">Rp 729.023.032</p>
                            <p class="card-text pb-2 text-danger"><object data="../static/icon/graph-dowm.svg" type="image/svg+xml"></object> 12%</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card text-center mx-auto">
                        <div class="card-body">
                            <img src="../static/image/etherium.jpg" class="card-img-top rounded-circle mx-auto mb-1">
                            <h4 class="mb-3">2. ETH</h4>
                            <p class="card-text text-success mb-3">Rp 69.321.312</p>
                            <p class="card-text pb-2 text-success"><object data="../static/icon/graph-up.svg" type="image/svg+xml"></object> 10%</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card text-center mx-auto">
                        <div class="card-body">
                            <img src="../static/image/bitcoin1.png" class="card-img-top rounded-circle mx-auto mb-1">
                            <h4 class="mb-3">3. BNB</h4>
                            <p class="card-text text-success mb-3">Rp 7.594.342</p>
                            <p class="card-text pb-2 text-success"><object data="../static/icon/graph-up.svg" type="image/svg+xml"></object> 4%</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card text-center mx-auto">
                        <div class="card-body">
                            <img src="../static/image/solana.png" class="card-img-top rounded-circle mx-auto mb-1">
                            <h4 class="mb-3">4. SOL</h4>
                            <p class="card-text text-success mb-3">Rp 2.034.343</p>
                            <p class="card-text pb-2 text-success"><object data="../static/icon/graph-up.svg" type="image/svg+xml"></object> 2%</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="card text-center mx-auto">
                        <div class="card-body">
                            <img src="../static/image/cardano.png" class="card-img-top rounded-circle mx-auto mb-1">
                            <h4 class="mb-3">5. ADA</h4>
                            <p class="card-text text-success mb-3">Rp 92.234</p>
                            <p class="card-text pb-2 text-success"><object data="../static/icon/graph-up.svg" type="image/svg+xml"></object> 31%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- berita terbaru  -->
        <section id="berita-terbaru" class="my-4">
            <div class="d-flex align-items-center">
                <h2 class="subjudul">Berita Terbaru</h2>
            </div>
            <!-- list berita -->
            <div class="row">
                <% datas.forEach(data => { %>
                    <div class="col-lg-3 col-md-6 my-2">
                        <div class="card h-100">
                            <div class="card-body" style="min-height: 550px;">
                                <img src="static/image/<%= data.thumbnail %>" class="card-img-top rounded rounded" alt="article">
                                <h5 class="card-title mt-3"><%= data.judul %></h5>
                                <div class="card-text mb-3">
                                    <%-  data.isiberita.substring(0,200) %>
                                </div>
                                
                                <div class="my-3 hashtag-berita">
                                        <% data.dataValues.hashtag.forEach(tag => { %>
                                            <span class="badge bg-primary fw-light">#<%= tag.nama_tag %></span>
                                        <% }) %>
                                    </div>
                                <div  class="position-absolute" style="bottom:0; left:0; width:100%">
                                    <div class="d-flex justify-content-between p-3">
                                        <a href="/berita/<%= data.slug %> " class="text-dark">Detail Berita <img class="ms-2" src="../../static/icons/chevron-right.svg" alt=""></a>
        
                                        <div class="utils d-flex">
                                            <div class="utils-item">
                                                <img class="d-block" src="../../static/icons/comment.svg" alt="">
                                                <span class="small">10k</span>
                                            </div>
                                            <div class="utils-item ms-3">
                                                <img class="d-block" src="../../static/icons/share.svg" alt="">
                                                <span class="small">12k</span>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="my-4 text-center" id="load-more">
                <a href="./berita-terkini" class="btn btn-primary btn-md">Load more...</a>
            </div>
        </section>
    </main>

    <!-- footer -->
    <%- include('layout/footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

</body>

</html>