<!DOCTYPE html>
<html>
<%- include('layout/head') %>

    <body>
        <!-- header 1 -->
        <div class=" container-all ">
            <%- include('layout/header') %>

        <!-- kategori -->
        <div class="flex-container" style="margin-left: 11.5%; margin-right: 11.5%; margin-bottom: 2%; margin-top: 1%;">
            <div class="flex-item" style="margin-bottom: 1%;"><b style="color: grey;">Kategori</b><b style="color: black; font-weight: 900;"> / <%=nama.nama_kategori%></b></div>
            <div class="flex-item" style="margin-bottom: 2%;"><img class="main-banner" style="border-radius: 10px; width: 100%; height: 300px; box-shadow: 3px 3px 3px rgba(117, 113, 113, 0.8); " src="http://localhost:3000/static/image/cryptojpg.jpg" alt=""></div>
            <div style="font-weight: 900; margin-bottom: 0.7%;">#Hashtag</div>
            
            <div class="flex-container-row" style="margin-bottom: 5%;">
                <!-- Manggil Hashtag yang ada pada berita -->
                <% for(var i = 0; i < data.length; i++) { %>
                    <% for(var j = 0; j < namaHashtag.length; j++) { %>
                        <% if(data[i].id == namaHashtag[j].id_berita) { %>
                            <div style="margin-right: 5px; background-color: rgb(0, 110, 255); color: white; border-radius: 4px; box-shadow: 3px 3px 3px rgba(117, 113, 113, 0.8);"><a style="color: transparent;">.</a><%=namaHashtag[j].nama_tag%><a style="color: transparent;">.</a></div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            
            <div><b style="color: grey;">Kategori</b> <b style="color: black; font-weight: 900;">#<%=nama.nama_kategori%></b></div>
            <div style="background-color:#000000; height: 2px; width:100%;"></div>
            
            <!-- Manggil berita sesuai dengan kategorinya -->
            <% for(var i=0; i < page.data.length; i++) { %>
                <div class="flex-container-row" style="margin-top: 0.8%; margin-bottom: 2%;">
                    
                    <div class="flex-item-row-right" style="width: 20%;">
                        <img style="width: 85%; margin-right: 10%; height: 100%;" src="http://localhost:3000/static/image/<%=page.data[i].thumbnail%>" alt="">
                    </div>

                    <div class="flex-item-row-left" style="width: 70%;">
                        <div class="flex-item"><h6 style="font-weight: bolder;"><%=page.data[i].judul%></h6></div>
                        <div class="flex-item" style = "font-size: 13px; margin-bottom: 1%;"><%=page.data[i].createdAt%> | Admin<br></div>
                        <div class="flex-item" style = "font-size: 13px;">
                            <a><%-page.data[i].isiberita.substring(0,200)%></a>... 
                        <a class="black" style="color: rgb(0, 132, 255); font-size: 13px;" href="/berita/<%=page.data[i].slug%>">Baca artikel selengkapnya...</a></div>
                        <br>                         
                    </div> 
                </div>

            <% } %>            
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 3%;">
            <% if (page.prev.page != null) { %>
              <a href="./<%=nama.nama_kategori%>?page=<%= page.prev.page %>" class="me-2 fw-bold">Prev</a>
              <% } else { %>
                <a class="me-2 text-muted fw-bold">Prev</a>
               
            <% } %>
          
              <% for( let index = 1; index <= page.pageLength; index++ ) { %>
                <% if (page.current == index) { %>
                  <a href="./<%=nama.nama_kategori%>?page=<%= index %>" class="btn btn-lg btn-primary mx-1"><%= index %></a>
                <% }else{ %>
                  <a href="./<%=nama.nama_kategori%>?page=<%= index %>" class="btn btn-lg btn-outline-primary mx-1"><%= index %></a>
                <% } %>
              <% } %>
              <% if (page.next.page != null) { %>
                <a href="./<%=nama.nama_kategori%>?page=<%= page.next.page %>" class="ms-2 fw-bold">Next</a>
                <% } else { %>
                  <a class="ms-2 text-muted fw-bold">Next</a>
            
              <% } %>               
          </div>

        <!-- footer -->
        <%- include('layout/footer') %>
            </div>
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
            </script>
    </body>

</html>