<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body class="mx-5 my-3">
    <form method="POST" action="" class="m-5" style="width: 400px;">
        <div class="mb-3">
            <h4>Ubah Kategori Berita</h4>
            <input type="text" name="nama_kategori" placeholder="Masukkan nama kategori yang baru" class="form-control">
        </div>
        <a href="/admin/kategori" role="button" class="btn btn-outline-secondary">Kembali</a>
        <button type="submit" class="btn btn-outline-primary">Simpan perubahan</button>
    </form>
</body>

</html>