<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>

<body>
  <!-- header 1 -->
  <%- include('layout/header') %>
   <div class=" container-all ">

  <!-- title -->
  <div class="container-fluid watchlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5">Watchlist CryptoEdu</h1>
            </div>
        </div>
    </div>
  </div>

  <!-- table start -->
  <div class="container-fluid watchlist">
      <div class="container">
        <table class="table">
          <thead></thead>
            <thead class="watchlist_head">
              <tr>         
                <td scope="col" class="pb-4">#</td>
                <td scope="col" class="pb-4">Nama</td>
                <td scope="col" class="pb-4">Harga</td>
                <td scope="col" >Perubahan<br>1 Minggu</td>
                <td scope="col" class="pb-4">Market Cap</td>
                <td scope="col" class="pb-4">Berita Terkait</td>
              </tr>
            </thead>
            <tbody class="watchlist_body">
              <tr>
                <td scope="row">1</td>
                <td>Bitcoin <font color='grey'></color>(BTC)</td>
                <td>671.269.972 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 0.62%</td>
                <td>$888.720.640.422</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Etherium <font color='grey'></color>(ETH)</td>
                <td>57.243.423 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 4.32%</td>
                <td>$453,343,716,161</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td>Binance Coin <font color='grey'></color>(BNB)</td>
                <td>9.234.765 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 1.32%</td>
                <td>$85,309,737,824</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">4</td>
                <td>Tether <font color='grey'></color>(USDT)</td>
                <td>14.344 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 0.21%</td>
                <td>$78,463,356,662</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">5</td>
                <td>Solana <font color='grey'></color>(SOL)</td>
                <td>2.415.245 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 4.42%</td>
                <td>$52,034,201,899</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">6</td>
                <td>Cardando <font color='grey'></color>(ADA)</td>
                <td>19.022 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 1.42%</td>
                <td>$44,403,780,686</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>              
              </tr>
              <tr>
                <td scope="row">7</td>
                <td>USD Coin <font color='grey'></color>(USDC)</td>
                <td>14.362 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 0.21%</td>
                <td>$42,588,853,448</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">8</td>
                <td>XRP <font color='grey'></color>(XRP)</td>
                <td>11.845 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 0.62%</td>
                <td>$39,235,969,514</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">9</td>
                <td>Terra <font color='grey'></color>(LUNA)</td>
                <td>1.207.151 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 5.32%</td>
                <td>$30,511,508,736</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">10</td>
                <td>Polkadot <font color='grey'></color>(DOT)</td>
                <td>431.365 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 4.62%</td>
                <td>$29,697,426,682</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">11</td>
                <td>Avalanche <font color='grey'></color>(AVAX)</td>
                <td>1.534.345 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 8.86%</td>
                <td>$25,604,003,481</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">12</td>
                <td>Dogecoin <font color='grey'></color>(DOGE)</td>
                <td>2.454 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 6.12%</td>
                <td>$22,500,134,787</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">13</td>
                <td>Shiba Inu <font color='grey'></color>(SHIB)</td>
                <td>0.423 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 4.32%</td>
                <td>$17,922,324,079</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">14</td>
                <td>Polygon <font color='grey'></color>(Matic)</td>
                <td>34.543 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 1.42%</td>
                <td>$17,155,632,266</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">15</td>
                <td>Binance USD <font color='grey'></color>(BUSD)</td>
                <td>14.342 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 2.53%</td>
                <td>$14,248,123,721</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">16</td>
                <td>Crypto Coin <font color='grey'></color>(CRO)</td>
                <td>7.342 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 0.32%</td>
                <td>$13,876,147,761</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">17</td>
                <td>Uniswap <font color='grey'></color>(UNI)</td>
                <td>273.046 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 3.76%</td>
                <td>$12,382,957,115</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">18</td>
                <td>W Bitcoin <font color='grey'></color>(WBTC)</td>
                <td>671.269.972 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 0.62%</td>
                <td>$12,362,790,784</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">19</td>
                <td>Chainlink <font color='grey'></color>(LINK)</td>
                <td>381.239 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 6.21%</td>
                <td>$12,032,575,174</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">20</td>
                <td>Algorand <font color='grey'></color>(ALGO)</td>
                <td>16.321 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 4.03%</td>
                <td>$11,224,255,106</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">21</td>
                <td>TerraUSD <font color='grey'></color>(UST)</td>
                <td>14.334 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 2.62%</td>
                <td>$10,345,470,803</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">22</td>
                <td>NEAR <font color='grey'></color>(NEAR)</td>
                <td>229.933 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 7.67%</td>
                <td>$10,241,298,497</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">23</td>
                <td>Litecoin <font color='grey'></color>(LTC)</td>
                <td>2.534.234 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 4.52%</td>
                <td>$10,141,298,497</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">24</td>
                <td>Dai <font color='grey'></color>(DAI)</td>
                <td>11.342 IDR</td>
                <td class="green"><img src="http://localhost:3000/static/image/up.png"> 7.98%</td>
                <td>$9,399,141,390</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
              <tr>
                <td scope="row">25</td>
                <td>Cosmos <font color='grey'></color>(ATOM)</td>
                <td>560.463 IDR</td>
                <td class="red"><img src="http://localhost:3000/static/image/down.png"> 2.78%</td>
                <td>$9,015,778,683</td>
                <td><a class="btn btn-primary btn_watchlist mx-2 px-2" href="#" role="button">Lihat Berita Terkait</a></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  <!-- table end -->

<br><br>

  <!-- footer -->
  <%- include('layout/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>
