@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 39.8px;
}
h2{
    font-size: 33.2px;
}
h3{
    font-size: 27.6px;
}
h4{
    font-size: 23px;
}

p{
    font-size: 13.33px;
}
a{
    text-decoration: none;
}


.footer {
    height: 417px;
    width: 100vw;
    background-color: #0F4688;
}
