/* header 1 */
.body {
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    flex-flow: column wrap;
    margin-left: 25%;
    margin-right: 25%;
}

.flex-container-row{
    display: flex;
    flex-flow: row wrap;
}

.center{
    text-align: center;
    justify-content: center;
}

.flex-item{
    width: 100%;
}

.flex-item-row-left{
    width: 60%;
}
.flex-item-row-right{
    width: 32%;
}

.header1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 29px;

}

.header2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 29px;
}


.btn-group .masuk:hover {

    color: white;
}

.halamanbutton .btn1:hover {
    background-color: #0d6efd;
    text-decoration-color: white;
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
}

.footer-1 {

    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.userlogin {

    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.black{
   text-decoration: none; 
   color: black;
   border-style: none;
}

/* ul {
    list-style: none;
  }
  
ul li::before {
    content: "\2022";
    color: rgb(216, 205, 205);
    font-size: 25px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
} */