
    <%- include('../layout/head') %>

    <!-- navbar goes here  -->
    <%- include('../layout/header') %>
    <!-- navbar end here  -->
    <!-- content goes here  -->
      <div class="container my-5">
          <h2>Berita Terkini</h2>
          <div class="row mt-5">
              <% dataLoaded.data.forEach(e => { %>    
                <div class="col-md-3 mb-5" >
                    <div class="card h-100" >
                        <div class="card-body position-relative" style="min-height: 550px;">
                            <img src="/static/image/<%= e.thumbnail%>" class="card-img-top" alt="...">
                            <h4 class="card-title mt-3"><%= e.judul %></h4>

                            <div class="card-text"><%-  e.isiberita.substring(0,200) %></div>
                            
                            <div class="my-3">
                              <% e.dataValues.hashtag.map(tag =>{ %>
                                <span class="badge bg-primary fw-light">#<%= tag.nama_tag %></span>
                                <%})%>
                            </div>
                            <div  class="position-absolute" style="bottom:0; left:0; width:100%">
                              <div class="d-flex justify-content-between p-3">
                                <a href="/berita/<%= e.slug %> " class="text-dark">Detail Berita <img class="ms-2" src="../../static/icons/chevron-right.svg" alt=""></a>

                                <div class="utils d-flex">
                                    <div class="utils-item">
                                        <img class="d-block" src="../../static/icons/comment.svg" alt="">
                                        <span class="small">10k</span>
                                    </div>
                                    <div class="utils-item ms-3">
                                        <img class="d-block" src="../../static/icons/share.svg" alt="">
                                        <span class="small">12k</span>
                                    </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                </div>  
              <% }) %>
              
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <% if (dataLoaded.prev.page != null) { %>
              <a href="./berita-terkini?page=<%= dataLoaded.prev.page %>" class="me-2 fw-bold">Prev</a>
              <% } else { %>
                <a class="me-2 text-muted fw-bold">Prev</a>
               
            <% } %>
          
              <% for( let index = 1; index <= dataLoaded.pageLength; index++ ) { %>
                <% if (dataLoaded.current == index) { %>
                  <a href="./berita-terkini?page=<%= index %>" class="btn btn-lg btn-primary mx-1"><%= index %></a>
                <% }else{ %>
                  <a href="./berita-terkini?page=<%= index %>" class="btn btn-lg btn-outline-primary mx-1"><%= index %></a>
                <% } %>
              <% } %>
              <% if (dataLoaded.next.page != null) { %>
                <a href="./berita-terkini?page=<%= dataLoaded.next.page %>" class="ms-2 fw-bold">Next</a>
                <% } else { %>
                  <a class="ms-2 text-muted fw-bold">Next</a>
                 
              <% } %>
              
                
          </div>
      </div>
    <!-- content end here here  -->


    <!-- footer goes here  -->
    <%- include('../layout/footer') %>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
  </body>
</html>